/.DS_Store
/.idea/
/docker-compose.yml
/.env
/.php_cs
/.php_cs.cache
/.php-cs-fixer.php
/.php-cs-fixer.cache
/tests/src/Test.php
/build

/var/log/*
!/var/log/.gitkeep
!/var/log/test/email_spool/default/.gitkeep
/var/cache/*
!/var/cache/.gitkeep

/src/Ui/Cli/Test
!/src/Ui/Cli/.gitkeep

etc/slate/app
/mariadb
/fixtures

/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/vendor/
/behat.yml
/phpunit.xml
.phpunit.result.cache

/etc/ansible/server/roles/shared_files/*
!/etc/ansible/server/roles/shared_files/.gitkeep
/etc/ansible/server/vars/*
!/etc/ansible/server/vars/.gitkeep
/src/Ui/Cli/Example/
/config/jwt/*.pem

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
