---
title: customer-settings API

language_tabs: # must be one of https://git.io/vQNgJ
  - json: Response
  - shell: Request

toc_footers:
  - <a href="https://www.iseazy.es" target="_blank">Powered by IsEazy.</a>
  - <a href="https://github.com/slatedocs/slate" target="_blank">Documentation Powered by Slate</a>

includes:
  - info_introduction
  - info_authentication
  - req_authorization

search: true

code_clipboard: true
---